/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

/* Asterisk wildcard selecter to override default styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #6D41A8;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #7C7484;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

header h1 {
    padding: 5px 0 5px 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#nav-menu {
    list-style-type: none;
    letter-spacing: 2px;
}

#nav-menu > li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #FFFFFF;
}

/* Navbar style and dropdown */
nav {
    position: absolute;
    background-color: #6D41A8;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #7C7484;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #FFFFFF;
}

/* Main content */
main {
    background-color: lightblue;
    /* Makes main take up surplus space pushing footer down */
    flex: 1 0 auto;
    margin-top: 48px;
}

/* Footer */
footer {
    background-color: #6D41A8;
    color: #FFFFFF;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px 0 10px 0;
}

.social-media i {
    color: #ffffff;
    font-size: 200%;
}

.map-wrapper {
    display: none;
}

/* Media query: Large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {


}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav-menu{
        display: flex;
    }

    #nav-menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .map-wrapper {
        display: block;
    }
}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #nav-menu a:hover {
        border-bottom: 1px solid #FFFFFF;
    }
}

/* Media query: laptops and larger (1200px and up) */
@media screen and (min-width: 1200px) {


}

